@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
* {
  font-family: 'Montserrat', sans-serif !important;
}
.mainy {
  color: #fff;
  background: url('./sss.jpeg');
  background-size: cover;
  background-position: 0px, -200px;
  background-repeat: no-repeat;
}
.title {
  letter-spacing: -1px;
}
#fig {
  width: 200px;
  height: 200px;
  background: grey;
}
#intro {
  background: crimson;
  height: 480px;
}
.navbar {
  height: 98px;
  background: transparent;
}
.navbar-item {
  color: #1a1a1a;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  height: 2rem;
  margin: 2rem 0.5rem;
  border-radius: 1rem;
  transition: all ease 200ms;
}
.navbar-item:hover {
  cursor: pointer;
  background: #fff;
  color: #00d2ff;
}
.column {
  margin: 0 10px;
}
svg {
  width: 60px;
  min-height: 60px;
}
.lang {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 130px;
  justify-content: space-between;
}
.gg {
  flex-wrap: wrap;
  justify-content: space-around;
}
.contacts {
  height: 8rem;
}