@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');
body {
  overflow: hidden;
}
* {
  font-family: 'Nanum Gothic', sans-serif !important;
}
.title {
  font-weight: 700 !important;
}
/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}*/

.mainy {
  color: #fff;
  min-height: 100vh;

  background: url('../img/hq.jpeg');
  background-size: cover;
  background-position: 0px, -200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#work {
  background: linear-gradient(
      rgba(10, 10, 10, 1),
      rgba(0, 0, 0, 0) 30%,
      rgba(10, 10, 10, 1)
    ),
    url('../img/ocean\ \(1\).jpg');
}
#x {
  background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(10, 10, 10, 1)),
    url('../img/dark_wall.png');
}
.title {
  letter-spacing: -1px;
}
#fig {
  width: 200px;
  height: 200px;
  background: grey;
}
.hero-body {
  padding-bottom: 10rem !important;
}
.pic {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateY(-60px);
}
.pic img {
  max-height: 30rem;
}
#intro {
  background: crimson;
  height: 480px;
}
.navbar {
  height: 3rem;
  background: #1c1e22;
  box-shadow: 0px 0px 3px rgba(10, 10, 10, 0.5);
}
.navbar-brand {
  filter: invert(1);
  /* border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  max-height: 3rem;
  max-width: 3rem;
  min-width: 3rem;
  width: 3rem;
  height: 3rem; */
}
.navbar-brand svg {
  min-height: 1.5rem;
  margin-left: 0.4rem;
  height: 3rem !important;
  width: 3rem;
}
#burger {
  display: flex;
}
.stick {
  position: fixed;
  min-width: 100vw;
  z-index: 1000;
}
.navbar-end {
  display: flex;
  height: 3rem;
  justify-content: space-around;
  align-items: center;
}
.navbar-item img {
  height: 1.4rem;
  width: 1.4rem;
  margin: 0 auto;
}
.navbar-item {
  box-sizing: border-box;
  text-transform: uppercase;
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    -45deg,
    #f45c43,
    #eb3349
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -45deg,
    #f45c43,
    #eb3349
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  margin: 0rem 1.2rem;
  margin-top: 0.2rem;
  width: 4rem;
}
.navbar-item:hover {
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #fff;
}
.is-hover {
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #fff;
}
.navbar-menu {
  background: #1c1e22;
}
.column {
  margin: 0 10px;
}
svg {
  width: 60px;
  min-height: 60px;
}
.lang {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 160px;
  justify-content: space-around;
  margin: 2rem;
  text-transform: uppercase;
  color: #fff !important;
  border-bottom: 4px solid;
  border-color: rgba(255, 255, 255, 0.8);
}
.lang:nth-child(even) {
  border-color: #ff0a47;
}
.svg {
  width: 80px;
  height: 80px;
}
.gg {
  flex-wrap: wrap;
  justify-content: space-around;
}
.contacts {
  margin-top: 2rem;
  height: 20rem;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}
#contact {
  margin-bottom: 2rem;
}
.column h1 {
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
}
.port img {
  max-height: 30rem;
  resize: none;
  align-self: center;
}
.port .card {
  margin-bottom: 2rem;
  max-width: 40rem;
  background: transparent;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tag {
  border: 2px solid #fff !important;
  font-weight: 600 !important;
}
.tag:nth-child(odd) {
  color: #ff0a47 !important;
}
.tag:nth-child(even) {
  color: #0ac2ff !important;
}
.tag {
  font-size: 12px !important;
}
.port * {
  border: none;
  color: #fff;
}
.card-footer-item {
  border-right: none !important;
}
.port .card-image {
  display: flex;
  justify-content: center;
}
.port-items {
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-image .image {
  box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.4),
    inset 0px 0px 100px 20px #d7ccc8;
}
#name {
  font-size: 4rem;
  letter-spacing: 2px;
}
.level-item img {
  width: 6rem;
}
a span {
  display: none;
}
@media (max-width: 1024px) {
  .mainy {
    min-height: 200px;
  }
  #work {
    width: 100%;
    padding: 0 !important;
    font-size: 14px;
  }
  #work .section {
    width: 100%;
    padding: 0 !important;
    padding-top: 2rem !important;
  }
  .tag {
    font-size: 12px !important;
  }
  .lang {
    margin: 1rem;
  }
  .port .card {
    padding: 0.4rem !important;
  }
  .card-image {
    box-shadow: none;
  }
  #contacts {
    height: 25rem;
  }
  .level {
    display: flex;
    flex-direction: column;
  }
  .level-item img {
    width: 2rem;
    margin: 0 1rem;
  }
  .navbar-burger {
    transform: translateX(-1rem);
  }
  .level-item {
    display: flex;
    justify-content: center;
    width: 80%;
    background: #000000; /* fallback for old browsers */ /* background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); 
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  a span {
    display: block;
  }
  .level-item a {
    display: flex;
    margin: 0 auto;
    height: 4rem;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    color: #fff !important;
    font-weight: 700;
    justify-content: center;
  }
  .navbar {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  .navbar-item {
    height: 3rem;
    width: 30vw;
    border-radius: 0.5rem;
    margin: 0;
  }
  .navbar-item img {
    min-height: 2rem;
    min-width: 2rem;
  }
  .card-footer-item a {
    border: 2px solid #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 4rem;
  }
  .lang img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .lang {
    width: 100%;
    height: 6rem;
    flex-direction: row;
    border: 2px solid;
    border-color: #009eff;
  }
  .navbar-menu {
    height: 3rem;
    transform: translateY(-4rem);
  }
  .foot {
    margin-bottom: 4rem;
  }
}
#contact {
  border: 5px solid #fff;
  padding: 1rem 1.5rem;
}
.section-header {
  border: 5px solid #fff;
  padding: 1rem 1.5rem;
  width: 15rem;
  text-align: center;
  margin: 0 auto;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.contact-item {
  transition: all 200ms ease-out;
}
.contact-item:hover {
  transform: scale(0.9);
}
