@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
* {
  font-family: 'Raleway', sans-serif !important;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainy {
  color: #fff;
  min-height: 100vh;
  background: url('../img/pexels-photo-433604.jpeg');
  background-size: cover;
  background-position: 0px, -200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  letter-spacing: -1px;
}
#fig {
  width: 200px;
  height: 200px;
  background: grey;
}
#intro {
  background: crimson;
  height: 480px;
}
.navbar {
  height: 3rem;
  background: #1c1e22;
  box-shadow: 0px 0px 3px rgba(10, 10, 10, 0.5);
}
.navbar-brand {
  filter: invert(1);
  /* border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  max-height: 3rem;
  max-width: 3rem;
  min-width: 3rem;
  width: 3rem;
  height: 3rem; */
}
.navbar-brand svg {
  min-height: 1.5rem;
  margin-left: 0.4rem;
  height: 3rem !important;
  width: 3rem;
}
.navbar-menu {
  display: flex;
  align-items: center;
}
.navbar-item {
  box-sizing: border-box;

  background: #bc4e9c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #bc4e9c,
    #f80759
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #bc4e9c,
    #f80759
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
  height: 2rem;
  border-radius: 1rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.navbar-item:hover {
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #fff;
}
.column {
  margin: 0 10px;
}
svg {
  width: 60px;
  min-height: 60px;
}
.lang {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 160px;
  justify-content: space-around;
  margin: 2rem;
  text-transform: uppercase;
  color: #fff !important;
  border-bottom: 2px solid #25bcff;
}
.lang:nth-child(even) {
  border-color: #ff0a47;
}
.svg {
  width: 80px;
  height: 80px;
}
.gg {
  flex-wrap: wrap;
  justify-content: space-around;
}
.contacts {
  height: 10rem;
}
.level-item svg {
  width: 4rem;
  height: 4rem;
  transition: all 200ms ease;
}
.level-item svg:hover {
  transform: translate(-8px, -8px);
  scale: 1.2;
}
#contact {
  margin-bottom: 2rem;
}
.column h1 {
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
}
.port img {
  max-height: 30rem;
  resize: none;
  align-self: center;
}
.port .card {
  margin-bottom: 2rem;
  max-width: 40rem;
  background: transparent;
  box-shadow: inset 0 0 25px #fff, /* inner white */ inset 10px 0 40px #f0f,
    /* inner left magenta short */ inset -10px 0 40px #0ff,
    /* inner right cyan short */ inset 10px 0 150px #f0f,
    /* inner left magenta broad */ inset -10px 0 150px #0ff,
    /* inner right cyan broad */ 0 0 30px #fff,
    /* outer white */ -10px 0 40px #f0f,
    /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tag {
  background: transparent !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}
.tag:nth-child(odd) {
  border-color: #47ff0a !important;
  color: #47ff0a !important;
}
.tag:nth-child(even) {
  border-color: #0ac2ff !important;
  color: #0ac2ff !important;
}
.port * {
  border: none;
  color: #fff;
}
.card-footer-item {
  border-right: none !important;
}
.port .card-image {
  display: flex;
  justify-content: center;
}
.port-items {
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .mainy {
    min-height: 200px;
  }
  .navbar-menu {
    color: #000 !important;
    height: 200px;
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    background: transparent;
    box-shadow: none;
  }
  .navbar-end {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    background: #fff;
    box-shadow: rgba(10, 10, 10, 0.1) 0px 8px 16px;
    align-items: center;
  }
  .lang {
    margin: 1rem;
  }
  .navbar-item {
    display: inline-block;
    width: 100px;
    padding: 1rem;
    line-height: 0;
    text-align: center;
    margin: 0;
    color: #000;
  }
  .port .card {
    padding: 0.4rem !important;
  }
  .card-image {
  }
}
